name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build alfredworkflow package
        run: |
          mkdir -p dist
          cd Toggl-Timer.alfredworkflow
          zip -r ../dist/Toggl-Timer.alfredworkflow .
          cd ..

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/Toggl-Timer.alfredworkflow
          generate_release_notes: true
